body{
    background-color: #4c4c4c;
    padding: 20px 20px 20px 20px;
}

header{
    background-color: #fb7878;
    padding: 20px;
    margin: 0 0 5px 0;
}

main{
    background-color: #ffffff;
    padding: 20px 5px 50px 5px
}

footer{
    background-color: #7aff90;

}