header{
    background-color: blue;
    color: white;
}

main{
    background-color: #e9ebee;
    border-width: 15px;
    border-style: solid;
    border-color: red;
    width: 500px;
    margin: 0px auto 0px auto;
}

*{
    box-sizing: border-box;
}