body{
    border: 20px solid blue;
    margin: 40px auto;
    padding: 20px;
    width: 70%;
    background-color: rgb(185, 112, 124);
}

.required{
    color: rgb(238, 22, 58);
}

#answer{
    border-bottom: 1px solid currentColor;
    text-decoration: none;
}

.location{
    line-height: normal;
    text-decoration: lightyellow;
}

button{
    background-color: red;
    color: white;
    font-size: 20px;
}

footer{
    margin: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}