body{
    border: 20px solid blue;
    margin: 40px auto;
    padding: 20px;
    width: 70%;
    background-color: lightblue;
}

.required{
    color: red;
}

#answer{
    border-bottom: 1px solid currentColor;
    text-decoration: none;
}

.location{
    line-height: normal;
}