header{
    color: white;
    background-color: rgb(59, 43, 43);
    text-align: center;
    margin: 1px;
    padding: 5px 10px;
}

h1{
    /* margin-top: auto;
    margin-bottom: 0px; */

    margin: auto auto 0px auto;
}

.contact{
    text-align: left;
}

img{
    width: 100%
}
a:visited{
    color: yellow;
}

a:hover{
    color: purple;
}

body{ 
    border: 20px solid #bdc3c7;
    padding: 20px;
    margin: 20px auto;
    font-size: 10px;
}

.wrapper{
    /* width: 400px; */
    width: 200px;
    margin: 0px auto;
}

table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

th{
    background-color: aqua;
}

td{
    background-color: yellow;
    color: blue;
}

td, th{
    padding: 5px;
}


